@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&family=Sora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Shalimar&display=swap");
:root {
  --dark-blue-color: #1e3765;
  --main-blue-color: #5576d1;
  --text-blue-color: #8c9bbc;
  --green-price-color: #44ca67;
  --grey-color: #e7e9ee;
}
:root {
  --item-name-color: #1e3765;
  --item-price-color: #44ca67;
  --served-for-color: #8c9bbc;
  --img-bg-color: #f7f8fd;
}

* {
  margin: 0;
  padding: 0;
  font-family: Sora, sans-serif;
  color: var(--text-blue-color);
  font-family: "Sora", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
  font-weight: 500;
  background-color: var(--back-color);
  color: var(--text-blue-color);
  width: 100%;
  height: 100%;
}
.main-container {
  padding: 20px;
  display: block;
  width: 100%;
  margin: 0 auto;
}
.menu-part img {
  width: 100px;
}
.logo {
  margin: 10px;
  width: 120px;
}

.nav-item {
  font-size: 1rem;
  font-weight: bold;
  color: #8c9bbc;
  text-transform: uppercase;
}

.text {
  position: relative;
  height: 20%;
  width: 60%;
  margin-top: 0;
}
.taste {
  color: var(--dark-blue-color);
  font-size: 3rem;
  position: absolute;
  left: 3rem;
  bottom: 11.5rem;
}

.borek {
  color: var(--main-blue-color);
  font-size: 5rem;
  font-weight: bolder;
  position: absolute;
  bottom: 5rem;
  left: 10rem;
}

.img-fluid {
  width: 42%;
  margin-left: 50%;
  margin-top: 15%;
}

/* next apply section */
.apply {
  width: 900px;
  padding: 20px;
  margin: auto;
  border: 1px solid grey;
  border-radius: 30px;
  color: var(--text-blue-color);
  background-image: linear-gradient(
      66deg,
      #fff,
      #fff 46%,
      hsla(0, 0%, 100%, 0.36) 74%,
      hsla(0, 0%, 97.1%, 0)
    ),
    url("https://assets.website-files.com/5e61309e2ea57b96254de07c/60fb0fcbc1334b219e8cb649_mado-cloth.jpg");
  background-position: 0 0, 100% 30%;
  background-size: auto, 60%;
  background-repeat: repeat, no-repeat;
  box-shadow: 0 13px 17px -4px rgb(30 55 101 / 11%);
}

.part-content {
  border: 1px solid lightgrey;
  width: 300px;
  height: 33px;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
}

.apply-btn,
.subs,
.reserve {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 1px solid lightgrey;
  border-radius: 40px;
  background-color: #5576d1;
  color: #fff;
  box-shadow: 0 3px 5px -1px rgb(30 55 101 / 30%);
  transition: 0.3s;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

/* subscribe part */
.subscribe {
  text-align: center;
}

#subscribe {
  width: 320px;
  height: 50px;
  border-radius: 30px;
  opacity: 0.5;
  padding-left: 10px;
  margin: 20px;
  background-color: var(--grey-color);
}

/* category Aisuluu  */
/* grid container & line */

#menu-part {
  margin-top: 30px;
  padding-left: 0 50px;
  display: none;
}
#line {
  width: 350px;
  display: flex;
  justify-content: center;
  margin-left: 25rem;
}
.line {
  width: 100px;
  height: 1px;
  background-color: grey;
  margin-top: 20px;
}
#line h2:hover {
  color: orangered;
}
#grid-container {
  /* display: grid; */
  display: none;
  grid-template-columns: auto auto auto;
  padding: 10px;
  grid-gap: 50px 100px;
}
.category {
  overflow: hidden;
  width: 450px;
  height: 200px;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 10px 20px 10px rgba(98, 106, 117, 0.3);
  transition: 0.4s;
  cursor: pointer;
  display: block;
  position: relative;
}

#grid-text a {
  width: 326px;
  height: 80px;
  font-size: 55px;
  font-weight: bolder;
  font-family: "Shalimar", cursive;
}
.category:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-blue-color);
  opacity: 0.3;
}
.category:hover {
  transform: scale(1.1);
  transition: 0.5s ease;
  opacity: 0.5;
}
.category:hover::after {
  transform: scale(1.1);
  transition: 0.5s ease;
}
.category a {
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  line-height: 135%;
  text-align: center;
  text-transform: uppercase;
  display: block;
  padding: 50px;
  pointer-events: none;
  z-index: 1;
  text-decoration: none;
}
/* category -part */
.master {
  /* display: flex; */
  display: none;
}
.right-categories {
  padding: 100px;
}
.left-categories {
  padding: 100px;
}
/* left-side-menu */
.left-menu li {
  list-style-type: none;
  font-weight: 900;
  font-size: 20px;
  width: 300px;
  margin-bottom: 10px;
  padding: 14px 50px 14px 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -3px #5576d1;
}
.left-menu a {
  text-decoration: none;
  color: #8c9bbc;
  pointer-events: none;
}
.left-menu a:hover {
  color: #5576d1;
}
.left-menu li:hover {
  box-shadow: 0px 7px 15px 2px rgba(85, 118, 209, 0.93);
  transition: all 0.3s ease-in;
  color: #8c9bbc;
  transform-style: preserve-3d;
  transform: scale(1.1);
  padding: 20px 20px;
  background-image: url("https://assets.website-files.com/5e61309e2ea57b96254de07c/5f1739f1014b410671beedfd_right_arrow_alt.svg");
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-size: 20px;
}
#h4 {
  font-size: 40px;
  margin-bottom: 10px;
}
#h1 {
  font-size: 60px;
  color: #1e3765;
}
/* right-side-menu */
.menu-items {
  display: block;
  width: 100%;
  color: var(--item-name-color);
  background-color: var(--img-bg-color);
  border-radius: 10px;
  margin: 15px;
  padding: 15px;
  box-shadow: 0 2px 6px 0 #8c9bbc;
}
.menu-items:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
.right-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.right-menu .menu-items {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 0;
  max-height: 150px;
  max-width: 475px;
}
.right-menu .menu-items .menu-items {
  padding: 10px 20px;
  display: block;
}
.item-name {
  color: var(--item-name-color);
  padding: 10px 0;
  font-weight: bold;
}
.item-price {
  color: var(--item-price-color);
  font-size: 1.1rem;
  overflow: hidden;
}
.served-for {
  color: var(--served-for-color);
  font-size: 20px;
}
.item-img {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.active {
  color: var(--dark-blue-color);
}

.aichurok {
  display: none;
}

/*Daniiar's Part*/

.similar-products {
  margin: 20px auto;
}

.product-container {
  margin-bottom: 15rem;
  margin-top: 15rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.chosen-product-name {
  color: rgb(30, 55, 101);
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
  line-height: 145%;
  margin-right: 3rem;
}

.product-description {
  color: black;
}

.chosen-product-img img {
  width: 300px;
  height: 300px;
  margin: 30px;
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.chosen-product-img img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.delivery-logo img {
  width: 60px;
}

.similar-product-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.similar-product-list img {
  width: 100px;
}

.similar-product-name {
  color: rgb(56, 78, 119);
  font-weight: bold;
  margin-bottom: 1px;
}

.product-price {
  color: rgb(68, 202, 103);
  font-weight: bold;
}

.similar-h1 {
  color: rgb(30, 55, 101);
  font-weight: bold;
}

.grid-similar-product .product-card {
  box-shadow: 0 2px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  padding: 0;
}

.product-card:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}

.grid-product {
  margin: 0;
  padding: 0;
}

/* -- nav - search - item -  -- */

.nav-search-items {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px;
  display: none;
}
.nav-search-items form {
  display: inline-flex;
}
.slidecontainer {
  margin: 20px;
}
.menubtn {
  display: none;
}
.nav-search-items #home-menu {
  cursor: pointer;
}
.nav-search-items input {
  border: none;
  font-weight: bold;
  border-bottom: 1px solid #c5c1c1;
  border-radius: 5px;
  color: var(--text-blue-color);
  background-color: var(--white-color);
  padding: 5px 10px;
  margin: 5px;
}
.nav-search-items i:hover {
  color: var(--main-blue-color);
  transform: scale(1.1);
}
.nav-search-items div:hover {
  color: var(--main-blue-color);
}
.nav-search-items input:hover {
  color: var(--main-blue-color);
  transform: scale(1.1);
}
.nav-search-items #vMax,
#vMin {
  color: var(--green-price-color);
}
.nav-search-items span {
  font-size: 0.9rem;
}
.nav-search-items .slidecontainer {
  margin: 10px;
}
.nav-search-items .slidecontainer input {
  margin-left: 10px;
}
.nav-search-items .slidePrice {
  -webkit-appearance: none;
  border-radius: 5px;
  height: 10px;
  transition: opacity 0.15s ease-in-out;
}
.nav-search-items .slidePrice::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 18px;
  border-radius: 50%;
  background: var(--green-price-color);
  cursor: pointer;
}
/* classList - toggle */
.nav-search-items .show {
  display: block;
}

.product-wrapper,
.similar-products {
  display: none;
}
.left-menu .active a {
  color: var(--dark-blue-color);
  font-weight: bold;
}
/* mobile version */
footer {
  width: 1290px;
  margin: 0 auto;
  margin-top: 40px;
}
footer a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
footer h4 {
  color: var(--main-blue-color);
  font-weight: 900;
}
footer ul {
  list-style: none;
  color: black;
}
#footerSection {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  display: flex;
  justify-content: space-around;
}
footer p {
  margin-top: 20px;
  width: 300px;
  font-size: 10px;
}
.socialmedia .fab{
  width: 40px;
  padding:10px;
}
@media only screen and (max-width: 500px) {
  #grid-item,
  #line {
    width: 100%;
  }
}
@media screen and (max-width: 370px) {
  .left-categories {
    display: block;
    width: 100px;
    height: 100px;
  }
}
